version: 2.1
orbs:
  architect: giantswarm/architect@6.11.0

workflows:
  build:
    jobs:
#    - architect/go-build:
#        name: go-build
#        binary: shoot-controller
#        filters:
#          tags:
#            only: /^v.*/

    - architect/push-to-registries:
        context: architect
        name: push-to-registries
#        requires:
#          - go-build
        filters:
          tags:
            only: /^v.*/

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        chart: 'shoot-controller'
          # Trigger job on git tag.
        requires:
          - push-to-registries
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
