image:
  registry: gsoci.azurecr.io
  name: "giantswarm/shoot-controller"
  tag: ""
  pullPolicy: IfNotPresent

# shoot chart version to deploy
shootVersion: "3.0.0"

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL

# Anthropic API key
anthropicAPIKey: ""
